<div style="padding-left: 5px; padding-right: 5px;">
    <div id="searchbox">
        <form class="form-horizontal" role="form">
            <div class="form-group has-feedback">
                <div class="col-sm-12">
                    <input type="text" class="form-control searchbox" placeholder="საძიებელი სიტყვა" value="ა"
                        id="termInput" autocomplete="off">
                    <span name="boxdefault" class="glyphicon glyphicon-search form-control-feedback"
                        style="cursor: pointer; display: none;"></span>
                    <span name="boxdelete" class="glyphicon glyphicon-remove form-control-feedback"
                        style="cursor: pointer; display: none;"></span>
                </div>
            </div>
        </form>
    </div>
</div>